<!DOCTYPE html>
<html>
<head>
    <script src="~/js/StopCopyText.js"></script>
    <link href="~/css/StopCopyText.css" rel="stylesheet" />
    <link href="~/css/layoutAdmin.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar ">
        <img class="image" src="~/IMAGES/SITE LOGO.PNG" alt="Logo" />
        <div class="navbar-Admin-links">

            @Html.ActionLink("Login", "Login", "Home")
        </div>
    </div>
    <div class="navbar-Admin">
        @*<img class="image" src="~/IMAGES/SITE LOGO.PNG" alt="Logo" />*@
        <div class="navbar-Admin-links">
            @Html.ActionLink("Jobs", "Adminjoblist", "Home")
            @Html.ActionLink("User", "Login", "Home")


        </div>
    </div>

    <div class="body-content-Admin">
        @RenderBody()

        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
