@model IEnumerable<WebApplication24.Models.JobPost>
<link href="~/css/jobgrid.css" rel="stylesheet" />

<table class="responsive-table">
    <thead>
        <tr style="background-color: skyblue; height: 43px;">
            <th>Advt. Date</th>
            <th>Department</th>
            <th>Post Details</th>
            <th>Qualification</th>

            <th>Location</th>
            <th>Last Date</th>
            @*<th>No. of Posts</th>*@
            @*<th>Notification File</th>*@
            @*<th>Post Details</th>*@
            @*<th>Sections</th>*@
            <th>More Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.AdvertisementDate.ToShortDateString()</td>
                <td>@job.Department</td>
                <td>
                    @{
                        var postNames = job.Posts?.Select(p => p.PostName).ToList() ?? new List<string>();
                        var postSummary = "";

                        if (postNames.Count == 0)
                        {
                            postSummary = "N/A";
                        }
                        else if (postNames.Count == 1)
                        {
                            postSummary = postNames[0];
                        }
                        else if (postNames.Count == 2)
                        {
                            postSummary = string.Join(", ", postNames);
                        }
                        else
                        {
                            postSummary = string.Join(", ", postNames.Take(2)) + " and More";
                        }
                    }

                    @($"{postSummary} – {job.NO_Post} Posts")
                </td>
                <td>
                    @{
                        var qualifications = job.Posts?.Select(p => p.Qualification).ToList() ?? new List<string>();
                        var qualificationSummary = qualifications.Count > 0 ? string.Join(", ", qualifications) : "N/A";
                    }
                    @qualificationSummary
                </td>
                
                <td>@job.Location</td>
                <td>@job.LastDate.ToShortDateString()</td>
                @*<td>@job.NO_Post</td>*@

                @*<td>
            @if (!string.IsNullOrEmpty(job.OfficialNotificationPath))
            {
                <a href="@job.OfficialNotificationPath" target="_blank">View</a>
            }
            else
            {
                <span>N/A</span>
            }
        </td>*@



                @*<td>
            @if (job.Sections != null && job.Sections.Any())
            {
                <ul style="padding-left: 15px;">
                    @foreach (var section in job.Sections)
                    {
                        <li><strong>section.Label:</strong> section.Text</li>
                    }
                </ul>
            }
            else
            {
                <span>N/A</span>
            }
        </td>*@

                <td>
                    <a href="@Url.Action("Details", "Post", new { id = job.Id })" class="btn btn-primary btn-sm">Get Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
